.container {
  position: relative;
  border: 1px solid transparent;
  min-width: 223px;
}

.content {
  background-color: var(--grey-light);
  border-radius: 8px;
  padding: 116px 0px 30px;
  text-align: center;
}

.imgContainer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* .img {} */
