.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.isNew {
  color: var(--main);
}

.description {
  opacity: 0.5;
  padding-inline: 21px;
}

.imgContainer {
  height: 352px !important;
  aspect-ratio: 2;
}

.imgContainer > img {
  object-position: 50% -0px !important;
}

@media screen and (min-width: 768px) {
  .imgContainer > img {
    object-position: 50% -190px !important;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    flex-direction: row;
    align-items: center;
    gap: 125px;
    min-height: 560px;
  }

  .content {
    max-width: 445px;
    align-items: flex-start;
    text-align: left;
  }

  .description {
    padding-inline: initial;
  }

  .imgContainer > img {
    object-position: 50% -50px !important;
  }
}
