.main {
  padding-inline: 24px;
  padding-block: 40px 120px;
  display: grid;
  gap: 120px;
}

.ads {
  display: grid;
  gap: 24px;
}

.singleAdd {
  max-width: 327px;
}

/* media queries */
@media screen and (min-width: 768px) {
  .singleAdd {
    max-width: none;
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    padding: 165px;
  }
}
