.container {
  padding: 1.5rem 3rem;
  color: var(--black);
  border: 1px solid transparent;
  background-color: transparent;
}

.container:hover {
  cursor: pointer;
}

.contained {
  background-color: var(--main);
  color: var(--white);
}

.contained:hover {
  background-color: var(--hover-orange);
}

.outlined {
  border-color: var(--black);
  color: var(--black);
}

.outlined:hover {
  color: var(--white);
  background-color: var(--black);
}

.link {
  display: flex;
  gap: 11px;
  align-items: center;
}

.link:hover {
  color: var(--main);
}

.link-opacity {
  opacity: 0.5;
}
