.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
}

.listItem:hover {
  color: var(--main);
  cursor: pointer;
}

@media (min-width: 768px) {
  .list {
    flex-direction: row;
    gap: 32px;
  }
}
