:root {
  /* colores  */
  --main: #d87d4a;
  --secondary: #101010;
  --hover-orange: #fbaf85;
  --grey-light: #f1f1f1;
  --grey-lighter: #fafafa;
  --white: #fff;
  --black: #000;
  --input-gray: #c2c2c2;

  /* typography */
  --main-family: "Manrope";

  /* breakpoints */
  --bk-mobile: 375px;
  --bk-tablet: 768px;
  --bk-desktop: 1440px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--main-family), sans-serif;
  /* el 62.5% de 16px son 10px */
  font-size: 62.5%;
}

body {
  margin: 0;
}

a,
a:visited {
  color: initial;
  text-decoration: none;
}

.orange {
  color: var(--main);
}
